*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    font-size: 15px;
    line-height: 22px;
    color: #666666;
    font-family: "Lato";
    font-weight: 400;
}

.why-choose-icon {
    width: 50px;
    height: 50px;
}

.nav-link {
    color: #666666;
    font-size: 12px;
}

.nav-link.active {
    color: orange;
}